<div id="<%= dom_id message %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
   By: <strong><%= message.user.email%></strong>
   <br><%= message.content %>
  </p>
</div>
